#service-words-container {
  .words-header {
    display: flex;
    position: sticky;
    height: 3rem;
    top: 0;
    border-bottom: 1px solid #ccc;
    background: #F6F6F6;
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      position: relative;
      line-height: 3rem;
      border-bottom: 1px solid #ccc;
      ul.words-list {
        position: absolute;
        width: 100%;
        margin: 0;
        padding: 0;
        top: 3rem;
        left: 0;
        height: 0;
        transition: height 0.3s;
        box-shadow: 0 5px 15px #ccc;
        background: #fcfafa;
        z-index: 1;
        overflow: hidden;
        .reply-user {
          flex: 1;
        }
        .reply-time {
          flex: 2;
        }
        .reply-content {
          flex: 7;
        }
        .reply-delete {
          flex: 1;
          cursor: pointer;
        }
        .reply-delete:hover {
          color: red;
        }
      }
    }
  }
  span {
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    color: #555;
    border-right: 1px solid #ccc;
    overflow: hidden;
  }
  span.spread {
    cursor: pointer;
    i.icon-zhankai {
      display: block;
      width: 100%;
      height: 100%;
      font-size: 1rem;
      transition: transform 0.5s;
    }
  }
  .min {
    flex: 1;
  }
  .times {
    flex: 2;
  }
  .title {
    flex: 3;
  }
}