#popup-container {
  position: fixed;
  z-index: 20;
  .popup-content {
    position: fixed;
    width: 15rem;
    height: 11rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background: #fff;
    border-radius: 5px;
    z-index: 20;
    overflow: hidden;
    .popup-header {
      display: flex;
      justify-content: center;
      align-items: center;
      box-sizing: border-box;
      width: 100%;
      height: 8rem;
      line-height: 1.7;
      padding: 1rem;
      font-size: 1.1rem;
      border-bottom: 1px solid #ccc;
      color: #555;
    }
    .popup-footer {
      display: flex;
      width: 100%;
      height: 3rem;
      background: blue;
    }
    button {
      width: 50%;
      font-size: 1.2rem;
      cursor: pointer;
      background: #fff;
      color: #555;
      outline: none;
      border: none;
      border-right: 1px solid #ccc;
      transition: background 0.2s;
    }
    button:hover {
      background: #eee;
    }
  }
}